.error-message {
    font-size: 13px;
    color: red;
    display: inline-block;
    margin-bottom: 10px;
}

.button-close {
    font-weight: 300;
    text-align: center;
}

.button-close_container {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.modal-validate {
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.validation-message {
    text-align: center;
    font-weight: 300;
    font-size: 36px;
}

.bground2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}